* {
    @extend %reset;
}
html {
    font-size: 62.5%;
    font-family: map-get($textos,familia1),map-get($textos,familia2),map-get($textos,familia3);
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}
body{
    font-family: map-get($textos,familia1),map-get($textos,familia2),map-get($textos,familia3);
    overflow-x: hidden;
}