//variables: valores





//listas
$colores:
rgb(0, 101, 46), //oscuro
rgb(0, 166, 80), //medio
rgb(72, 179, 123); //claro


//mapas
$textos:(
    tx2: 3rem,
    tx3: 2.5rem,
    tx4: 1.5rem,
    familia1: Arial,
    familia2: Helvetica,
    familia3: sans-serif,
);

//  

