//variables: valores





//listas
$colores:
rgb(0, 101, 46), //oscuro
rgb(0, 166, 80), //medio
rgb(72, 179, 123); //claro


//mapas
$textos:(
    tx2: 3rem,
    tx3: 2.5rem,
    tx4: 1.5rem,
    familia1: Arial,
    familia2: Helvetica,
    familia3: sans-serif,
);

//extends
%reset{
    margin:0;
    padding:0;
}
%resetfull{
    margin:0;
    padding:0;
    border:0;
}
%ancores{
    text-decoration: none;
    color:white;
}
%parrafos{
    font-size: 1.5rem;
    padding:5px 0 20px 0;
}

//mixin
@mixin rotacion ($grados) {
    transform: rotate($grados);
    -webkit-transform: rotate($grados);
    -o-transform: rotate($grados);
    -moz-transform: rotate($grados);    
}
@mixin escalar ($valor) {
    transform:scale($valor);
    -webkit-transform: scale($valor);
    -o-transform: scale($valor);
    -moz-transform: scale($valor);
}
@mixin flexiblenowrap (){
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
@mixin flexiblewrap (){
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}